<div style="margin-top:15px;">
    <h1>Registration Page</h1><br/>
    <form class="form-horizontal" name="registerForm" novalidate>


        <div class="form-group">
            <label for="inputFirstName" class="col-sm-4 control-label">First Name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="inputFirstName" placeholder="Firstname" 
                ng-model="rc.user.firstname" 
                name="firstname"
                ng-required="true" 
                ng-minlength="3" 
                ng-maxlength="15"
                ng-pattern="/^[A-z0-9]+$/">
                <p ng-if="registerForm.firstname.$error.minlength">Minimum length should be 3.</p>
                <p ng-if="registerForm.firstname.$error.required">First name is required.</p>
                <p ng-if="registerForm.firstname.$error.pattern">Invalid Character.</p>
                <p ng-if="registerForm.firstname.$error.maxlength">Maxlength length should be 15.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputLastName" class="col-sm-4 control-label">Last Name:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="inputLastName" placeholder="Lastname" ng-model="rc.user.lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputUserName" class="col-sm-4 control-label">User Name:</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="inputUserName" placeholder="Username" 
                ng-model="rc.user.username"
                name="username"
                ng-required="true"
                ng-minlength="5"
                ng-maxlength="15"
                ng-pattern="/^[A-z0-9*@-_\.]+$/">
                <p ng-if="registerForm.username.$error.minlength">Minimum length should be 5.</p>
                <p ng-if="registerForm.username.$error.required">User name is required.</p>
                <p ng-if="registerForm.username.$error.pattern">Invalid Character.</p>
                <p ng-if="registerForm.username.$error.maxlength">Maxlength length should be 15.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-4 control-label">Password</label>
            <div class="col-xs-3">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" 
                ng-model="rc.user.password"
                name="password"
                ng-required="true"
                ng-minlength="6"
                ng-maxlength="15"
                ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/">
                <p ng-if="registerForm.password.$error.minlength">Minimum length should be 6.</p>
                <p ng-if="registerForm.password.$error.required">Password is required.</p>
                <p ng-if="registerForm.password.$error.pattern">String must contain at least lowercase, uppercase, and numerical character.</p>
                <p ng-if="registerForm.password.$error.maxlength">Maxlength length should be 15.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAge" class="col-lg-4 control-label">Age</label>
            <div class="col-xs-3">
                <input type="number" class="form-control" id="inputAge" placeholder="Age" 
                ng-model="rc.user.age"
                name="age"
                min="18"
                max="100"
                ng-required="true"
                ng-pattern="/^[0-9]+$/">
                <p ng-if="registerForm.age.$error.min">Minimum age should be 18.</p>
                <p ng-if="registerForm.age.$error.required">Age is required.</p>


            </div>
        </div>
        <div class="form-group">
            <label for="inputGender" class="col-lg-4 control-label">Gender</label>
            <div class="col-xs-3">
                <input type="radio" name="gender" value="M" id="inputGender" ng-model="rc.user.gender"
                ng-required="!gender"> Male <br/>
                <input type="radio" name="gender" value="F" ng-model="rc.user.gender"
                ng-required="!gender"> Female
                <p ng-if="registerForm.gender.$error.required">Gender is required.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-4 control-label">Country</label>
            <div class="col-xs-3">
                <select class="form-control" ng-model="rc.user.selectedCountry" ng-options="country.name for country in rc.countriesList">
                </select><br/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 control-label"></label>
            <div class="col-xs-3">
                <button type="button" class="btn btn-success">Register</button>
            </div>
        </div>

    </form>
    {{rc.user|json}}

</div>