<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Add items to cart</th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="items in prdc.products">-->
                    <tr ng-repeat="items in products">
                    <td>{{items.index}}</td>
                    <td>{{items.Model}}</td>
                    <td>{{items.Price}}</td>
                    <td>
                        <button ng-click="addToCart(item)" class="btn btn-success">Buy</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-1"></div>
</div>